@use '../modules/cores';
@use '../modules/extends';
@use '../modules/mixins';

.cabecalho {
    @extend %container;
    color: cores.$branco;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid cores.$borda-cabecalho-mobile;
    position: absolute;

    &__logo {
        margin-bottom: 1rem;
    }
    
    &__navegacao {
        text-align: center;
    }
    
    &__link {
        font-size: 1.1rem;
        display: inline-block;
        margin-right: .7rem;
        margin-bottom: 1.25rem;
        margin-left: .7rem;
    }
}

@media only screen and (min-width: 1024px) {
    .cabecalho {
        @include mixins.container-media-1024;
        flex-direction: row;
        justify-content: space-between;
        border: none;
    }
}
