@use '../modules/cores';
@use '../modules/fonts';
@use '../modules/extends';
@use '../modules/mixins';

.chamada {
  @extend %container;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: cores.$branco;
  text-align: center;
  background-color: cores.$bg-chamada-mobile;
  padding-top: 12.25rem;
  padding-bottom: 2.5rem;

  &__titulo {
    font-family: fonts.$montserrat, serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 1.5rem;
  }

  &__texto {
    font-size: 1.25rem;
    line-height: normal;
    margin: 0 auto 2.5rem;
  }
  
  &__botao {
    @extend %botao;
    @include mixins.button-border;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .chamada__texto {
    max-width: 600px;
  }
}

@media only screen and (min-width: 1024) {
  .chamada {
    @include mixins.container-media-1024;
    background-image: url('../../img/bg-intro.jpg');
    background-size: cover;
    padding-top: 8.25rem;

    &__titulo {
      font-size: 3.25rem;
      margin-bottom: 2rem;
    }
  }
}
