@use '../modules/cores';
@use '../modules/fonts';
@use '../modules/mixins';

.sobre {
  @extend %container;
  padding-top: 3rem;
  padding-bottom: 3rem;

  &__titulo {
    color: cores.$cinza-escuro;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: fonts.$montserrat;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.25rem;
  }

  &__texto {
    line-height: normal;
    margin-bottom: 1rem;

    &--destaque {
      color: cores.$cinza-escuro;
      font-weight: 700;
    }
  }

  &__plataformas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
  }

  &__imagem {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .sobre {
    @include mixins.container-media-1024;
    display: flex;

    &__conteudo {
      margin-right: 3rem;
    }

    &__titulo {
      text-align: left;
    }

    &__texto {
      &--divisao {
        border-bottom: 1px solid cores.$cinza-medio;
        padding-bottom: 1.5rem;
      }
    }

    &__imagem {
      display: block;
    }
  }
}
