html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Open Sans";
}

.contato, .sobre, .diferenciais, .planos, .destaques, .chamada, .cabecalho {
  padding-right: 6%;
  padding-left: 6%;
}

.contato__botao, .cartao__botao, .destaques__botao, .chamada__botao {
  text-align: center;
  display: block;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.cabecalho {
  color: #FFF;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #103D4A;
  position: absolute;
}
.cabecalho__logo {
  margin-bottom: 1rem;
}
.cabecalho__navegacao {
  text-align: center;
}
.cabecalho__link {
  font-size: 1.1rem;
  display: inline-block;
  margin-right: 0.7rem;
  margin-bottom: 1.25rem;
  margin-left: 0.7rem;
}

.contato, .sobre, .diferenciais, .planos, .destaques, .cabecalho, .chamada {
  padding-right: 6%;
  padding-left: 6%;
}

.contato__botao, .cartao__botao, .destaques__botao, .chamada__botao {
  text-align: center;
  display: block;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.chamada {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  text-align: center;
  background-color: #00161C;
  padding-top: 12.25rem;
  padding-bottom: 2.5rem;
}
.chamada__titulo {
  font-family: "Montserrat", serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.chamada__texto {
  font-size: 1.25rem;
  line-height: normal;
  margin: 0 auto 2.5rem;
}
.chamada__botao {
  border: 1px solid #FFF;
  width: 100%;
}

.contato, .sobre, .diferenciais, .planos, .cabecalho, .chamada, .destaques {
  padding-right: 6%;
  padding-left: 6%;
}

.contato__botao, .cartao__botao, .chamada__botao, .destaques__botao {
  text-align: center;
  display: block;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.destaques {
  background-color: #DFE3E5;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}
.destaques__titulo {
  color: #4F4C4C;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Montserrat";
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}
.destaques__painel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.destaques__imagem {
  width: 100vw;
  max-width: 600px;
  box-shadow: 0 2px 10px 5px #00000020;
  margin-bottom: 0.5rem;
}
.destaques__texto {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: normal;
}
.destaques__botao {
  border: 1px solid #FFF;
  color: #B72E2E;
  border-color: #B72E2E;
  margin: 0 auto;
}

.contato, .sobre, .diferenciais, .cabecalho, .chamada, .destaques, .planos {
  padding-right: 6%;
  padding-left: 6%;
}

.contato__botao, .chamada__botao, .destaques__botao, .cartao__botao {
  text-align: center;
  display: block;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.planos {
  background-color: #F7F4F4;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.planos__titulo {
  color: #4F4C4C;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Montserrat";
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.25rem;
}
.planos__cartoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartao {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  width: 100%;
  max-width: 300px;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px 2px #00000020;
}
.cartao__titulo {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.75rem 0;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #DFE3E5;
}
.cartao__conteudo {
  padding: 0 15%;
}
.cartao__preco {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.cartao__texto {
  color: #666;
  line-height: 28px;
}
.cartao__botao {
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  align-self: center;
  padding: 0.75rem 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.cartao__botao--start {
  border: 1px solid #56CCF2;
}
.cartao__botao--ultra {
  border: 1px solid #B04CD9;
}
.cartao__botao--mega {
  border: 1px solid #E33B3B;
}
.cartao--start {
  color: #56CCF2;
}
.cartao--ultra {
  color: #B04CD9;
}
.cartao--mega {
  color: #E33B3B;
}

.diferenciais {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.diferenciais__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.diferenciais__item {
  max-width: 350px;
  box-sizing: border-box;
  padding: 2rem 0 2rem 5rem;
  background-repeat: no-repeat;
  background-position: top 1.25rem left 2.5rem;
}
.diferenciais__item--tempo {
  background-image: url(../../img/icone-relogio.png);
}
.diferenciais__item--foco {
  background-image: url(../../img/icone-dinheiro.png);
}
.diferenciais__item--especialistas {
  background-image: url(../../img/icone-quimica.png);
}
.diferenciais__item__titulo {
  color: #4F4C4C;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.diferenciais__item__texto {
  line-height: normal;
}

.sobre {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.sobre__titulo {
  color: #4F4C4C;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Montserrat";
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.25rem;
}
.sobre__texto {
  line-height: normal;
  margin-bottom: 1rem;
}
.sobre__texto--destaque {
  color: #4F4C4C;
  font-weight: 700;
}
.sobre__plataformas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.cabecalho, .chamada, .destaques, .planos, .diferenciais, .sobre, .contato {
  padding-right: 6%;
  padding-left: 6%;
}

.chamada__botao, .destaques__botao, .cartao__botao, .contato__botao {
  text-align: center;
  display: block;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.contato__titulo {
  color: #4F4C4C;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Montserrat";
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.25rem;
}
.contato__botao {
  border: 1px solid #FFF;
  color: #4F4C4C;
  border-color: #4F4C4C;
  margin-top: 1rem;
}

.institucional {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #666;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.institucional__titulo {
  color: #4F4C4C;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Montserrat";
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}
.institucional__descricao {
  margin-bottom: 2rem;
}
.institucional__endereco {
  font-size: 1.5rem;
  line-height: normal;
  margin-bottom: 2rem;
}
.institucional__contato {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-top: 2rem;
}
.institucional__contato-telefone {
  line-height: normal;
}
.institucional__contato-email {
  color: #0084FF;
  text-decoration: underline;
  display: block;
}
.institucional__video {
  width: 100vw;
}

/*# sourceMappingURL=styles.css.map */
